{% extends 'base.html.twig' %}

{% block title %}Météo des montagnes{% endblock %}

{% block body %}

    <h1 class="title">La météo des montagnes</h1>
    <p class="content mt-5">Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Fuga expedita nesciunt similique autem est itaque provident, 
        sequi assumenda vitae inventore cumque et odit ipsam eligendi saepe 
        ducimus aliquam soluta quisquam hic nam necessitatibus in minima 
        temporibus error. Ex vel, consectetur hic error illum excepturi 
        sit vero non, cum eveniet minus!
    </p>
    
{% endblock %}